
<pre>
<center><b><h1>Python Programming - 2301CS404</b></center>
<center><b><h1>Lab - 2</b></center>
    <b>Name : Vala Prashant</b>
    <b>Roll No : 150</b>
<pre>

### 01) WAP to print “Hello World..!!”

In [1]:
print("Hello World..!!")

Hello World..!!

### 02) WAP to accept your name and display a welcome message.
#### Input: Priya
#### Output: Hello Priya, welcome to Python Lab.

In [1]:
name = input("Enter your name: ")
print(f"Hello {name}, welcome to Python Lab.")

Enter your name:  vala prashant

Hello vala prashant, welcome to Python Lab.

### 03) WAP to accept three integers and display the numbers, their sum, and average.
#### Input: 10 20 30
#### Output: 
##### Numbers: 10 20 30
##### Sum: 60
##### Average: 20.0

In [2]:
a = int(input())
b = int(input())
c = int(input())

print("Numbers:", a, b, c)
print("Sum:", a + b + c)
print("Average:", (a + b + c) / 3)

 10
 20
 30

Numbers: 10 20 30
Sum: 60
Average: 20.0

### 04) WAP to accept name (string), age (int), and percentage (float).
#### Input : Riya,18,92.5
#### Output : 
##### Name: Riya  Type: <class 'str'>
##### Age: 18  Type: <class 'int'>
##### Percentage: 92.5  Type: <class 'float'>

In [2]:
name = input()
age = int(input())
percentage = float(input())

print("Name:", name, "Type:", type(name))
print("Age:", age, "Type:", type(age))
print("Percentage:", percentage, "Type:", type(percentage))

 vala
 18
 30

Name: vala Type: <class 'str'>
Age: 18 Type: <class 'int'>
Percentage: 30.0 Type: <class 'float'>

### 05) WAP to print folowing message using custom separator and end.
#### Ouutput : Python | Programming | Basics###

In [3]:
print("Python", "Programming", "Basics", sep=" | ", end="###")

Python | Programming | Basics###

### 06) WAP to accept a value and display its value, type, and memory id.
#### Input : hello
#### Output : 
##### Value: hello
##### Type: <class 'str'>
##### ID: 140712345678912

In [4]:
value = input()

print("Value:", value)
print("Type:", type(value))
print("ID:", id(value))

 30

Value: 30
Type: <class 'str'>
ID: 2027621878256

### 07) WAP to assign a value to a variable, print id, reassign a new value, and print id again.
#### Output :
##### Original ID of a: 140712345678912
##### New ID of a: 140712345678960

In [5]:
a = 10
print("Original ID of a:", id(a))

a = 20
print("New ID of a:", id(a))

Original ID of a: 140705507026120
New ID of a: 140705507026440

### 08) WAP to print multiple lines using a single print().
#### Output:
##### Welcome to Python
##### This is the second lab
##### Enjoy coding!

In [6]:
print("Welcome to Python\nThis is the second lab\nEnjoy coding!")

Welcome to Python
This is the second lab
Enjoy coding!

### 09) WAP to display following table of items with proper alignment.
#### Output :
| Sr No | Name        | Subject | Grade | Percentage |
| ----: | ----------- | ------- | :---: | ---------: |
|     1 | Nisha Patel | Math    |   A   |         92 |
|     2 | Aarav Modi  | Science |   B+  |         85 |
|     3 | Jiya Shah   | English |   A+  |         96 |

In [14]:
print(f"{'Sr No':<6}{'Name':<15}{'Subject':<10}{'Grade':<8}{'Percentage':<12}")
print(f"{1:<6}{'Nisha Patel':<15}{'Math':<10}{'A':<8}{92:<12}")
print(f"{2:<6}{'Aarav Modi':<15}{'Science':<10}{'B+':<8}{85:<12}")
print(f"{3:<6}{'Jiya Shah':<15}{'English':<10}{'A+':<8}{96:<12}")

Sr No Name           Subject   Grade   Percentage
1     Nisha Patel    Math      A       92
2     Aarav Modi     Science   B+      85
3     Jiya Shah      English   A+      96

### 10) WAP to accept a float number and display with 2 decimals, 3 decimals, and width 10.
#### Input : 37.2567
#### Output :
##### 2 decimals: 37.26
##### 3 decimals: 37.257
##### Width 10:      37.26

In [3]:
num = float(input("Enter a number: "))

print(f"2 decimals: {num:.2f}")
print(f"3 decimals: {num:.3f}")
print(f"Width 10: {num:10.2f}")

Enter a number:  2.213213

2 decimals: 2.21
3 decimals: 2.213
Width 10:       2.21

### 11) WAP to accept two integers and display sum, difference, and product using f-strings.
#### Input : 12 8
#### Output :
##### Sum = 20
##### Difference = 4
##### Product = 96

In [12]:
a , b = input("Enter a two number : ").split()
c = int(a)
d = int(b)

print(f"sum = {c + d}")
print(f"Difference = {c - d}")
print(f"Product = {c * d}")

Enter a two number :  10 20

sum = 30
Difference = -10
Product = 200

### 12) WAP to accept date in dd mm yyyy format and display in multiple formats.
#### Input : 01 12 2025
#### Output :
##### 01/12/2025
##### 2025-12-01

In [9]:
d, m , y = input("Enter date (dd mm yyyy): ").split()

print(d,m,y, sep="/")
print(d,m,y, sep="-")

Enter date (dd mm yyyy):  28 05 2007

28/05/2007
28-05-2007

### 13) WAP to calculate area and perimeter of a circle.

In [6]:
import math

r = float(input("Enter radius of the circle: "))

area = math.pi * r * r
perimeter = 2 * math.pi * r

print(f"Area of circle: {area:.4f}")
print(f"Perimeter of circle: {perimeter:.4f}")

Enter radius of the circle:  222

Area of circle: 154830.2523
Perimeter of circle: 1394.8671

### 14) WAP to convert degree into Fahrenheit and vice versa.

In [ ]:
temp = float(input("Enter temperature: "))
choice = input("Enter C to convert to Fahrenheit or F to convert to Celsius: ")

if choice == 'C' or choice == 'c':
    fahrenheit = (temp * 9/5) + 32
    print(fahrenheit)
elif choice == 'F' or choice == 'f':
    celsius = (temp - 32) * 5/9
    print(celsius)
else:
    print("Invalid choice")

### 15) WAP to get the distance from user into kilometer, and convert it into meter, feet, inches and centimeter.

In [7]:
km = float(input("Enter a Distance in kilometer : "))

meter = km * 1000
feet = km * 3280.84
inches = km * 39370.1
centimeter = km * 100000

print("Meter:", meter)
print("Feet:", feet)
print("Inches:", inches)
print("Centimeter:", centimeter)

Enter a Distance in kilometer :  1000

Meter: 1000000.0
Feet: 3280840.0
Inches: 39370100.0
Centimeter: 100000000.0